*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 1230px;
    background-color: #fff; 
    height: 80px;
    margin: auto; /*alinha os elementos no meio da página*/
}

.container-grid{
    width: 1230px;
    height: 100%;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    justify-content: space-between; /*separa os conteudos apos utilizar o diplay flex*/
    align-items: center; /*alinhar os elementos*/
}

.area-search{
    width: 200px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;

}

#button-search{
    height: 30px;
    width: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;

}

.menu-inf{
    height: 60px;
    border-top: solid;
    border-color: gray;
    border-width: 1px;
    align-items: center;
}
.container-grid img{
    width: 180px; /*tamanho da logo*/
    margin-left: 70px;
}

.menu{
    width: 800px; /*largura*/
    display: flex;
    justify-content: space-between; /*Distribue os itens uniformemente*/
    margin-left: 200px;
}

.menu a{
    color: black;
    text-decoration: none;
    text-transform: uppercase; /*coloca tudo em maiusculo*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.banner{
    height: 250px; /*altura*/
    width: 1230px; /*largura*/
    background-image: url(../img/banner-image.jpg); /*o ".." sai da pasta do CSS*/
    background-repeat: none;
    background-size: cover; /*cobertura completa*/
}
/*formatacao do botão*/

.texto-banner h1{
    color: white;
    margin: 0%;
}

.texto-banner p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 40px;
}

.texto-banner a{
    background-color: #c31616;
    color: white;
    text-decoration: none; /*tira o sublinhado do link*/
    text-transform: uppercase; /*coloca em maiusculo*/
    padding: 15px;
    border-radius: 7px; /*arredondamento bordas*/
    align-self: center;
}

.texto-banner{
    width: 600px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

.posicao-texto{
    justify-content: flex-end;
}

.titulo-categoria {
    width: 1230px; /*largura*/
    height: 30px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    margin: auto;
    margin-top: 5px;
    display: flex;

}

.categoria1 {
    width: 1230px; /*largura*/
    height: 300px;
    text-align: center;
    margin: auto;
}



.line-before, .line-after {
    width: 1230px;
    height: 0;
    margin: 20px;
    color: white;
    border: 1px solid #a7a7a7;
}

.titulo{
    width: 40%;
    background-color: white;
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}

.categoria1-conteudo {
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /*alinha na horizontal com espaçamento uniforme*/
    border: 1px solid gray;
    align-items: center; /*alinha na vertical*/
    
}


.produto-destaque{
    height: 200px;
    width: 30%;
    background-color: black;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    

}

.produto { /*imagem do produto destaque*/
    height: 180px;
    align-items: center;
}

.categoria2-conteudo {
    height: 350px;
    display: flex;
    justify-content: space-between; /*alinha na horizontal com espaçamento uniforme*/
    border: 1px solid gray;
    align-items: center; /*alinha na vertical*/
    
}

.jogo-promo{
    height: 300px;
    width: 170px;
    border: 1px solid black;
    margin: auto;
}

.descricao-produto{
    height: 200px;
    width: 160px;
    margin-top: 10px;
}

.text-product{
    color: white;
    text-align: center;
}

.categoria2 {
    width: 1230px; /*largura*/
    height: 350px;
    text-align: center;
    margin: auto;
}
.jogo { /*imagem do jogo*/
    height: 150px;
    width: auto;
    margin: 10px;
}

.footer-top{
    width: 1230px; /*largura*/
    height: 200px;
    border: 1px solid black;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    justify-content: space-between; /*separa os conteudos apos utilizar o diplay flex*/
    /*align-items: center; alinhar os elementos*/
    color: white;
    background-color: black;
}

.footer-margin{
    width: 1230px; /*largura*/
    height: 80px;
    border: 1px solid black;
    margin: auto; /*distribui a margem por igual*/
    /*display: flex;*/
    /*justify-content: space-between; separa os conteudos apos utilizar o diplay flex*/
    /*align-items: center; alinhar os elementos*/
}


footer h2{
    font-size: 14px;
}

footer div{
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

.logo-footer{
    width: 150px;
    margin-bottom: 0;
}

.footer-margin p{
    margin: 15px;
    font-size: 15px;
}