*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 1100px;
    background-color: #fff; 
    height: 80px;
    margin: auto; /*alinha os elementos no meio da página*/
    border: 1px solid gray;
}

.container-grid{
    width: 1230PX;
    height: 100%;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    justify-content: space-between; /*separa os conteudos apos utilizar o diplay flex*/
    align-items: center; /*alinhar os elementos*/
    /*border: 1px solid greenyellow;*/
}

.container-grid-header{
    width: 850px;
    height: 100%;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    justify-content: space-between; /*separa os conteudos apos utilizar o diplay flex*/
    align-items: center; /*alinhar os elementos*/
    /*border: 1px solid rgb(123, 47, 255);*/
}


.menu-inf{
    height: 60px;
    border-top: solid;
    border-color: #a5a5a5;
    border-width: 2px;
}

.search{
    padding: 0px;
    margin: 10PX;
    display: flex;
    border: 1px solid #000000;
}

.area-search{
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    border: 0;
}

.area-search:hover{
    font-weight: bold;
}

#button-search{
    opacity: 0.5;
    height: 30px;
    width: 80px;
    background-color: #c9c9c9;
    cursor: pointer; /*muda cursor para mãozinha*/
    border: 0;
}


#button-search:hover{
    background-color: #969696;
    font-weight: bold;
}


.logo-site img{
    /*border: 1px solid blue;*/
    width: 180px; /*tamanho da logo*/
    /*margin-left: 50px;  */
    padding: 5px;  
}

/*Icones do header*/

.icons-container{
    width: 150px;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid orange;*/
}

.icon-header img{
    width: 30px;
    margin: 5px; 
}

.container-button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid green;*/
}

.button-login{
    height: 30px;
    width: 100px;
    border: 0;
    cursor: pointer; /*muda cursor para mãozinha*/
    background-color: #ff0000;
    color: white;
}

.button-login:hover{
    background-color: #ba0000;
    font-weight: bold;
}

.menu{
    width: 800px; /*largura*/
    margin-left: 200px;
    display: flex;
    justify-content: space-between; /*Distribue os itens uniformemente*/
}

.menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase; /*coloca tudo em maiusculo*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.banner{
    height: 250px; /*altura*/
    width: 1230px; /*largura*/
    background-image: url(../img/banner-image.jpg); /*o ".." sai da pasta do CSS*/
    background-repeat: none;
    background-size: cover; /*cobertura completa*/
}
/*formatacao do botão*/

.texto-banner h1{
    width: 200px;
    color: white;
    margin: 0%;
    display: block;
    margin-inline: auto;
}

.texto-banner p{
    color: yellow;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 40px;
}

.texto-banner a{
    padding: 8px 25px; /*cima e abaixo - direita e esquerda*/
    background-color: #e60f0f;
    color: white;
    text-decoration: none; /*tira o sublinhado do link*/
    text-transform: uppercase; /*coloca em maiusculo*/
    border-radius: 0px; /*arredondamento bordas*/
    align-self: center;
}

.texto-banner a:hover{ /*ao passar o cursor muda cor*/
    background-color: #ff3939;
}

.menu a:hover {
    background-color: rgb(221, 220, 220);
}


.texto-banner{
    width: 750px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

.posicao-texto{
    justify-content: flex-end;
}

.titulo-categoria {
    width: 1230px; /*largura*/
    height: 30px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    margin: auto;
    margin-top: 5px;
    display: flex;

}


.line-before, .line-after {
    width: 1230px;
    height: 0;
    margin: 20px;
    color: white;
    border: 1px solid #a7a7a7;
}

.titulo{
    width: 40%;
    font-size: 12px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}

.categoria1 {
    width: 1230px; /*largura*/
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.categoria1-conteudo {
    width: 1000px;
    height: 220px;
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between; /*alinha na horizontal com espaçamento uniforme*/
    align-items: center; /*alinha na vertical*/
    
}

.produto-destaque{
    height: 200px;
    width: 30%;
    background-color: black;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria2-conteudo {
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: space-between; /*alinha na horizontal com espaçamento uniforme*/
    align-items: center; /*alinha na vertical*/
    
}

.categoria2 {
    width: 1230px; /*largura*/
    height: 350px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}


/*#button-emphasis{
    height: 30px;
    width: 80px;
    cursor: pointer; /*muda cursor para mãozinha
    border-style: solid;
    border-width: 1px;
}

#button-emphasis:hover{
    background-color: rgb(255, 200, 187);

}*/

.button{
    height: 30px;
    width: 80px;
    cursor: pointer; /*muda cursor para mãozinha*/
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.button:hover{
    background-color: rgb(255, 200, 187);

}

.produto { /*imagem do produto destaque*/
    height: 150px;
    padding: 10px;
}



.product-title{
    color: white;
    text-align: center;
    font-size: 15px;
}


.game-promo{
    height: 300px;
    width: 170px;
    /*border: 1px solid black;*/
    margin: auto;
}

.container-descricao-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3%; /*margem interna*/
    /*border: 1px solid white;*/
}

.emphasis {
    height: 200px;
    width: 160px;
}

.product-price {
    font-weight: bold;
}


.product-price::before{
    content: "R$ ";
    font-size: 80%;
    font-weight: normal;
}

.game-img { /*imagem do jogo*/
    height: 150px;
    width: 110px;
    margin: 10px;
}

.text-games{
    height: 125px;
    width: 170px;
}

.footer-top{
    width: 1230px; /*largura*/
    height: 200px;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    justify-content: space-between; /*separa os conteudos apos utilizar o diplay flex*/
    /*align-items: center; alinhar os elementos*/
    color: white;
    background-color: black;
}

.footer-margin{
    width: 1230px; /*largura*/
    height: 80px;
    margin: auto; /*distribui a margem por igual*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*display: flex;*/
    /*justify-content: space-between; separa os conteudos apos utilizar o diplay flex*/
    /*align-items: center; alinhar os elementos*/
}


footer h2{
    font-size: 14px;
}

footer div{
    width: 400px;
    text-align: center;
}

footer h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-footer{
    width: 150px;
    margin-top: 30px;
}

.footer-margin p{
    width: 1000px;
    font-size: 12px;
    margin: 10px;
}

.menu-footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 120px;
    margin-bottom: 5px;
}
.menu-footer a:hover{
    font-weight: bold;

}

.logo-media{
    width: 25px;
}


.atendimento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-atendimento{
    width: 20px;
}

.item-footer{
    width: 250px;
    display: flex;
}

.item-footer a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.item-footer p{
    width: 200px;
    padding: 10px;
    font-size: 10px;
}

.text-atendimento{
    margin-top: 10px;
    border-top: 2px solid gray;
    margin: auto;
    text-align: center;

}
